@model TravelWeb01.Models.Members

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MberBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MberBirthday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
